/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilites */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #F3F1FF;
}

/* -----------------------
    header/navbar
----------------------- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #562EFF;
    height: 94px;
    width: 100%;
}

nav {
    width: 930px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

/* logo/text */
.logo {
    display: flex;
    align-items: center;
}
.logo-image img{
    width: 40px;
    margin-top: 5px;
}

.logo-text {
    font-size: 24px;
    margin-left: 15.6px;
}

/* contents/profile */
.contents {
    display: flex;
    align-items: center;
}

.text-content a {
    font-size: 16px;
    margin-right: 36px;
}

.profile-content img {
    width: 51px;
    margin-top: 5px;
}

/* -----------------------
        main/body
----------------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

/* top player styles */
.top-player {
    width: 870px; 
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player .player-name {
    font-size: 18px;
    margin-left: 16px;
}

